[submodule "library/mod_eagle_library_switches"]
	path = library/mod_eagle_library_switches
	url = https://github.com/benedikt-schmied/mod_eagle_library_switches.git
[submodule "library/mod_eagle_library_discrete_elements"]
	path = library/mod_eagle_library_discrete_elements
	url = https://github.com/benedikt-schmied/mod_eagle_library_discrete_elements.git
[submodule "library/mod_eagle_library_PMIC"]
	path = library/mod_eagle_library_PMIC
	url = https://github.com/benedikt-schmied/mod_eagle_library_PMIC.git
[submodule "library/mod_eagle_library_MCU_CPU"]
	path = library/mod_eagle_library_MCU_CPU
	url = https://github.com/benedikt-schmied/mod_eagle_library_MCU_CPU.git
[submodule "library/dummy/pro_budget_management_PYTHON"]
	path = library/dummy/pro_budget_management_PYTHON
	url = https://github.com/benedikt-schmied/pro_budget_management_PYTHON
